<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
     <div>
      <%- article.sanitizedHtml %>
      <form action="/articles/show/<%= article.id %>?_method=PUT" method="POST">
          <label for="title">Comment</label>
          <input value="<%= article.comment%>" type="text" name="comment" id="comment" class="form-control">
      </form>
      <h1><%= article.comment %></h1>
    </div>
  </div>
</body>
</html>